{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>djangoblog</title>
    <link rel="stylesheet" href="{% static 'css/myblogapp.css' %}">
</head>
<body>
    <div class="page-header">
        <a href="/" class="page-title">hello world</a>
        {% if user.is_authenticated %}
            <span> Hello {{ user.username }}</span>
            <a href="{% url 'write_blogpost' %}" class="page-add">new post</a> 
            <a href="{% url 'logout' %}">logout</a>
        {% else %}
            <a href="{% url 'login' %}">login</a>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>
