{% extends 'myblogapp/base.html' %}
{% block content %}
    <div class="blog">
        <h2 class="blog-title"> {{p.title}} </h2>
        <div> 
            by {{p.author}} 
            <div class="post-actions">
                {% if p.published_date is None %}
                    <a href="{% url 'publishblog' pk=p.pk%}"> PUBLISH </a>
                    <a href="{% url 'editblog' pk=p.pk %}"> EDIT </a>
                    <a href="{% url 'deleteblog' pk=p.pk%}"> DELETE </a>
                {% else %}
                    Published: {{ p.published_date }}
                {% endif %}
                
            </div>
        </div>
        
        <p class="blog-content"> {{p.text}} </p>
        
        {% if not p.published_date is None %}
            <a class="btn btn-default" href="{% url 'add_comment_to_blogpost' pk=p.pk %}">Add Comment</a>
            {% for comment in p.comments.all %}
                {% if user.is_authenticated or comment.approved_comment %}
                    <div class="comment">
                        <div class="published_date">{{ comment.created_date }} </div>
                        {% if not comment.approved_comment %}
                            <a href="{% url 'comment_remove' pk=comment.pk %}">Remove</a>
                            <a href="{% url 'comment_approve' pk=comment.pk %}">Approve</a>
                        {% endif %}
                        <strong>{{ comment.author }}</strong>
                        <p>{{ comment.text|linebreaks}}</p>
                    </div>
                {% endif %}
            {% empty %}
                <p>No comments here yet :( </p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}