{% extends 'myblogapp/base.html' %}
{% block content %}

<div class="view-toggle">
        {% if user.is_authenticated %}
            {% if is_drafts %}
                <a href="{% url 'blog_newsfeed' %}">view published blogposts</a>
            {% else %}
                <a href="{% url 'draft_newsfeed' %}">view unpublished blogposts</a>
            {% endif %}
        {% endif %}
    </div>

{% for p in bps %}
    <div class="blog">
        <a href="{% url 'viewblog' pk=p.pk %}" class="blog-title"> {{p.title}} </a>
        {% if not is_drafts %}
            <div class="published_date">Published: {{p.published_date|date:"y/m/d H:i"}} </div>
            <div class="comments-label">with {{ p.comments.count }} comments</div>
        {% endif %}
        <p class="blog-content"> {{p.text}} </p>
    </div>
{% endfor %}
{% endblock %}

