{% extends 'myblogapp/base.html' %}
{% block content %}

<div class="view-toggle">
        {% if is_drafts %}
            <a href="{% url 'blog_newsfeed' %}">view published blogposts</a>
        {% else %}
            <a href="{% url 'draft_newsfeed' %}">view unpublished blogposts</a>
        {% endif %}
    </div>

{% for p in bps %}
    

    <div class="blog">
        <h1 class="blog-title"> <a href="{% url 'viewblog' pk=p.pk %}"> {{p.title}} </a> </h2>
        <div class="published_date"> published: {{p.published_date}} </div>
        <p class="blog-content"> {{p.text}} </p>
    </div>
{% endfor %}
{% endblock %}

